body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #00bfae;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #2e7d7f;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #00796b;
}

form input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #00bfae;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #008c74;
}

#toplam-atik p {
    font-size: 20px;
    font-weight: bold;
    color: #00796b;
}

footer {
    background-color: #2e7d7f;
    color: white;
    text-align: center;
    padding: 10px;
}
